.img_artiste{

    height: 100%;
    border-radius: 5vw;
    position: relative;
    bottom: 35%;
    z-index:-10;
}

.carte_artiste{
    width: 100%;
    border-radius: 5vw;
    background-size:cover;
    height: 80vh;
    margin-bottom:10vh;
}

.nom_artiste{
    padding: 1vw;
    font-family: 'Monument Extended', sans-serif;
    font-weight: 600;
    font-size: 4.5rem;
    position: relative;
    top:0%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.desc_artiste{
    padding:5% 5%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

@media screen and  (max-width: 500px) {



    
    .carte_artiste{
        width: 100%;
        border-radius: 5vw;
        background-size:cover;
        height: 80vh;
        margin-bottom:0vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 4vw;
    }
    
    .nom_artiste{
        padding: 1vw;
        font-family: 'Monument Extended', sans-serif;
        font-weight: 600;
        font-size: 4.5rem;
        position: relative;
        width: 100%;
    }
    
    .desc_artiste{
        position: relative;
        padding:5% 5%;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }


}